/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;700&display=swap');
*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font: 400 19px/1 "Raleway",Arial,tahoma ,verdana,sans-serif;
    }
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
table{
    border-collapse: collapse;
}
.wrapper {
    overflow: hidden;
}
.container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
/* */
/* */
/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.main{
    min-height: 100vh;
    background: url("../images/banner.jpg") no-repeat 100% 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 384px 0 160px;
    background-size: cover;
    width: 100%;
}

.main .container{
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.head {
    width: 100%;
    background-color: #000;
    display: block;
    position: absolute;
    top: 40px;
}
.navigation {
    max-width: 1280px;
    margin: 0 auto;
}
.flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding: 0px 15px;
}
.flex-between a{
    padding: 13px 0;
    width: 50%;
}
.flex-between a img{
    max-height: 34px;
}
.flex-around {
    width: 50%;
}
.navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 19px 0;
}
.navi_item a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #00c0ff;
    font-size: 18px;
    text-transform: uppercase;
   
}
.main .container p{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 23px;
    max-width: 800px;
    text-align: center;
} 

.main .container img{
    margin-bottom: 60px;
    width: 590px;
} 
.main .container input{
    width: 255px;
    height: 55px;
    border-radius: 25px;
    background-color: rgba(219, 219, 219, 0.8);
    font-family: 'Roboto-Bold',sans-serif;
    font-size: 25px;
    color: #3ea2d8;
    border: #d4d4d4 1px solid;
    margin-top: 78px;
    cursor: pointer;
}
.mobile-button{
    position: relative;
    width: 32px;
    height: 32px;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.mobile-button:before,
.mobile-button:after {
    height: 4px;
    content: '';
    width: 100%;
    background: #00c0ff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s
}
.mobile-button:after {
    top: auto;
    bottom: 0;
}

.mobile-button span {
    display: block;
    height: 4px;
    width: 100%;
    background: #00c0ff;
    z-index: 5;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.mobile-button.opened span {
    opacity: 0;
}

.mobile-button.opened:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 2px);
}
.mobile-button.opened:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: calc(50% - 2px);
} 
.second-screen{
    background-color: #000;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 163px 0 140px;
    width: 100%;
}
.second-screen h2{
    font-family:'Raleway',sans-serif ;
    font-weight: 800;
    color: #00c0ff;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.second-screen p{
    font-family: 'Raleway',sans-serif;
    font-size: 19px;
    color: #00c0ff;
    max-width: 900px;
    text-align: center;
    line-height: 30px;
    padding: 0 15px;
}
.third-screen{
    background-color: #1b1b1b;
    
}
.third-screen .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 120px 0px;
}
.third-screen_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 300px;
    padding: 0 15px;
}
.third-screen_item h3{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.third-screen_item p{
    font: 400 17px/1 'Raleway',sans-serif;
    /* font-size: 17px; */
    color: #fff;
    text-align: left;
}
.before-priorities{
    background-color: #1b1b1b;
}
.before-priorities .container{
    max-width: 800px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 125px 0 53px;
    text-align: center;
}
.before-priorities .container .title-21{
    margin-bottom: 35px;
}
.title-21{
    font-size: 21px;
    color: #00c0ff;
    font-family: Raleway, Arial,sans-serif;
    line-height: 33px;
    font-weight: 500;
}
.title-19{
    font-size: 19px;    
    color: #00c0ff;
    font-family: Raleway, Arial,sans-serif;
    line-height: 33px;
    font-weight: 500;
}
.priorities-container{
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
.priorities{
    background: url("../images/banner2.jpg") no-repeat 100% 0;
    padding: 90px 0 95px;
    background-size: cover;
    
}
.title-29{
    font-size: 29px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    font-family: Roboto, Raleway, Arial, sans-serif;
    color: #00c0ff;
}
.text{
    font-size: 21px;
    line-height: 33px;
    color: #00c0ff;
    text-align: center;
    margin: 0 auto 80px;
    max-width: 980px;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.priorities .col-33{
    background: rgba(3, 3, 3, 0.5);
    padding: 58px 85px 75px;
}
.col-33{
    width: calc(33.3% - 23px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: rgba(3, 3, 3, 0.5);
    padding: 58px 85px 75px;
    margin: 0 0 30px;
}
.priorities .col-33{
    text-align: center;
}
.priorities .col-33 h5{
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    margin-bottom: 55px;
    font-family: Roboto, Raleway, Arial, sans-serif; 
    font-weight: 700;
}
.priorities .col-33 p{
    color: #fff;
    font-size: 17px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 55px;
}
/* TABS*/
.tabs__content {
    display: none;
  }
  .tabs__content.active {
    display: block; 
  }
.what_we_do{
    padding: 105px 0 120px;
    background: #000;
    text-align: center;
}
.title-30{
    font-size: 30px;
    color: #00c0ff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 35px;
}
.what_we_do .text{
    margin-bottom: 75px;
    font-size: 19px;
    line-height: 33px;
}
.tabs__caption{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tabs__caption li{
    font-size: 17px;
    color: #00c0ff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.tabs__caption li.active{
    color: #000;
    background: #00c0ff;
}
.tabs__content{
    color: #fff;
    padding-top: 70px;
}

.projects__item{
    max-width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;

}
.projects__item img{
    max-width: 100px;
    height: auto;
    margin-bottom:45px ;
}
.projects__item h5{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 60px;
}
.projects__item p{
    font-size: 17px;
    margin-bottom: 55px;
}






.author__name{
    font-size: 15px;
    color: #Fff;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: Roboto,Raleway,Arial,sans-serif;
    margin-bottom: 2px;
}
.author__position{
    color: #fff;
    font-size: 15px;
}
.col-50{
    width: calc(50% - 15px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.nature{
    background: #000;
    padding: 185px 0 330px;
    position: relative;

}
.title-38{
    font-size: 38px;
    line-height: 1.2;
    color: #00c0ff;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 400;
}
.nature .text{
    text-align: left;
    margin-bottom: 0;
}
.nature__image{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 5;
    background: url(../images/banner3.jpg) no-repeat 0 50%;
    background-size: cover;
}
.nature .col-50{
    padding-right: 40px;
}
.ticket{
    background: url(../images/buyticket.jpg) no-repeat 50% 50%;
    
    background-size: cover;
}
.ticket .container{
    max-width: 1290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 205px 15px;
}
.col-ticket{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: end; 
}
.ticket .container .col-ticket{
    width: 33.3%;
}
.title-58{
    font-size: 58px;
    line-height: 50px;
    color: #Fff;
    text-transform: uppercase;
    margin-bottom: 22px;
    font-family: Raleway,Roboto,Arial,sans-serif;
    font-weight: 700;
}
.title-17{
    font-size: 17px;
    line-height: 1.2;
    color: #Fff;
    margin-bottom: 45px;
    font-family: Raleway,Roboto,Arial,sans-serif;
    font-weight: 400;
}
.ticket .container .col-ticket input{
    width: 162px;
    height: 46px;
    border-radius: 25px;
    background-color: rgb(219 219 219 / 80%);
    font-family: 'Roboto-Bold',sans-serif;
    font-size: 21px;
    color: rgb(62 162 216);
    border: rgb(212 212 212) 1px solid;
    cursor: pointer;
}
.projects{
    background: #000;
}
.projects .container{
    max-width: 1030px;
    padding: 90px 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}
.project-item-around{
    width: 50%;
    padding: 0 60px;
}
.project-item-around-img{
    width: 50%;
}
.projects-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 113px 0;
}
.projects-item p{
    color: #00c0ff;
    font-size: 17px;
    line-height: 1.1;
    font-family: Raleway,Roboto,Arial,sans-serif;
    font-weight: 400;
    text-align: center;
}
.projects-item .title-21{
    margin-top: 15px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}
.trips{
    background-color: #1b1b1b;
}
.trips .container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 80px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.col-inner-2{
    text-align: center;
}
.col-inner-2 .title-21{
    margin-bottom: 10px;
    color: #fff;
}
.col-inner-2 .title-17{
    margin-bottom: 0;
}
.col-33-2{
    width: 33.3%;
}
.after-trips{
    background-color: #000;
}
.after-trips .container{
    max-width: 740px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 105px 15px;
    text-align: center;
}
.after-trips .container .title-21{
    margin-bottom: 10px;
    font-size: 20px;
}
.footer {
    background: #1b1b1b;
}
.footer .container{
    padding: 75px 0 70px;
    display: flex;

}
.footer .container .col-50{
    width: 50%;
}
.footer .container .col-50 .col-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 320px;
}
.col-inner h5{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 13px;
}
.col-inner .title-19{
    color: #fff;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 20px;
}
.icons img{
    width: 32px;
}
.icons a{
    margin: 0 6px;
}
.icons a:first-child{
    margin-left: 0;
}
.col-33-f{
    width: 33.3%;
}
.col-33-f h5{
    font-size: 21px;
    color: #fff;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 42px;
    text-transform: uppercase;
}
.col-33-f a{
    font-size: 21px;
    color: #fff;
    line-height: 30px;
   
}
.footer .col-50:last-child{
    display: flex;
    flex-direction: row;
}




/**/
/**/
/**/
/**/
/**/
/**/
/**/
@media (max-width: 1100px){
    .priorities.col-33{
        padding: 35px 30px 45px;
    }
    .priorities .col-33 h5,
    .priorities .col-33 p{
        margin-bottom:30px;
    }
}
@media (max-width: 910px){
    .ticket .container{
        padding: 100px 15px;
    }
    .ticket .container .col-ticket{
        width: 50%;
    }
    .title-58{
        font-size: 45px;
        margin-bottom: 10px;
    }
    .ticket .container .title-17{
        margin-bottom: 20px;
    }
}
@media (max-width: 800px){
    .mobile-button {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .flex-around {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 20px 15px;
        text-align: center;
        background: #000;
        z-index: 10;
    }
    .head {
        top: 0;
    }
    .navigation {
        padding: 8px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .flex-between{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .flex-between a{
        padding: 0px;
    }
    .third-screen .container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .third-screen_item{
        margin-bottom: 25px;
    }
    .third-screen_item:last-child{
        margin-bottom: 0;
    }
    .main{
        padding: 200px 0 100px;
    }
    .main .container img{
        width: 70%;
    }
    .main .container p{
        font-size: 18px;
    }
    .main .container input{
        width: 170px;
        height: 40px;
        border-radius: 16px ;
        font-size: 20px;
    }
    .second-screen{
        padding: 40px 0;
    }
    .second-screen h2{
        font-size: 25px;
    }
    .second-screen p{
        font-size: 15px;
    }
    .third-screen .container{
        padding: 40px 0;
    }
    .third-screen_item h3{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .third-screen_item p{
        font-size: 13px;
    }
    .after-trips .container {
    padding: 50px 15px;
    }
    .after-trips .container .title-21{
        font-size: 17px;
    }
    .title-19{
        font-size: 15px;
    }
    .trips .container{
        padding: 50px 15px;
    }
    .col-inner-2 .title-21{
        font-size: 17px;
    }
    .col-inner-2 .title-17{
        font-size: 15px;
    }
    .projects .container{
        padding: 40px 15px;
    }
    .projects-item{
        margin: 60px 0;
    }
    .projects-item .title-21{
        font-size: 19px;
    }
    .projects-item p{
        font-size: 17px;
    }
    .project-item-around{
        padding: 0 20px;
    }
    .ticket .container{
        padding: 50px 15px;
    }
}
@media (max-width: 768px){
    .col-33{
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }
    .priorities{
        padding: 60px 0 65px;
    }
    .text{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    .title-29{
        font-size: 18px;
        line-height: 25px;
    }
    .title-38{
        font-size: 28px;
        
    }
}

@media (max-width: 600px){
    .nature .col-50{
        width: 100%;
    }
    .nature__image{
        display: none;
    }
    .nature{
        padding: 60px 0 65px;
    }
    .trips .container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 20px 15px;
    }
    .col-33-2{
        width: 50%;
    }
    .col-33-2:last-child{
        width: 100%;
        margin-top: 20px;
    }
    .project-item-around{
        width: 100%;
    }
    .project-item-around-img{
        display: none;
    }
    .projects-item{
        margin: 30px 0;
    }
    .projects-item .title-21{
        margin-bottom: 15px;
        font-size: 19px;
    }
    .projects-item p{
        font-size: 15px;
    }
    .ticket .container .col-ticket{
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .title-58{
        font-size: 30px;
        line-height: 30px;
    }
    .ticket .container .col-ticket input {
    width: 132px;
    height: 32px;
    border-radius: 12px
    }
}

@media (max-width: 480px){
    .col-33{
        width: 100%;
    }
    .priorities .col-33 p{
        text-align: center;
    }    
    .after-trips .container {
        padding: 30px 15px;
    }
    .after-trips .container .title-21{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .title-19{
        font-size: 13px;
    }
    .col-33-2{
        width: 100%;
        margin-top: 20px;
    }
    .col-33-2:first-child{
        margin-top: 0;
    }
}