* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 400 20px/1.5 "Comic sans MS",tahoma ,verdana,sans-serif;
    }
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
table{
    border-collapse: collapse;
}
.wrapper {
    overflow: hidden;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
/* */
/* */
